<section class="container" ng-controller="MessageController as message" ng-init="message.init()">
  <div>
    <h1>Message Board</h1>

    <input ng-model="message.post.title" type="text" placeholder="title" class="form-control">
    <textarea ng-model="message.post.body" name="name" placeholder="body" class="form-control"></textarea>
    <button ng-click="message.createPost(post)" type="button" class="btn btn-primary btn-block">Post</button>
    <button ng-click="message.updatePost(post)" type="button" class="btn btn-success btn-block">Update</button>

    <ul ng-repeat="posts in message.posts | orderBy: '-posted'">
      <li>
        <h3>Title: {{posts.title}}
          <a ng-click="message.editPost(posts._id)" class="pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
          <a ng-click="message.deletePost(posts._id)" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
          <button type="button">
            <a ng-click="message.likePost(posts._id)" ng-model="message.post.reaction" class="pull-right">Like</a>
          </button>
        </h3>
      </li>
      <li>
        Body: {{posts.body}}
      </li>
      <em>
        Time stamp: {{posts.posted}}
      </em>
      <li>
        <button ng-click="message.addOne(posts._id)" id="showCount">like</button>
      </li>
    </ul>
  </div>
</section>
